.s-140{
    @include size(140px, 140px);
}
//margin
.mt-32{
    margin-top: 32px;
}

.mb-6{
    margin-bottom: 6px;
}

.mb-12{
    margin-bottom: 12px;
}

.mb-18{
    margin-bottom: 18px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-64{
    margin-bottom: 64px;
}

.ml-296{
    margin-left: 296px;
}

//padding
.p-12{
    padding: 12px;
}

.p-32{
    padding: 32px;
}

.px-32{
    padding-left: 32px;
    padding-right: 32px;
}

//background-color
.bg-gray100{
    background-color: $gray-100;
}

//text
.text-gray600{
    color: $gray-600;
}

.fs-14{
    font-size: 14px;
}

.fs-12{
    font-size: 12px;
}

//border
.border{
    border: 1px solid blue;
}

.border-gray400{
    border: 1px solid $gray-400;
}

.radius-2{
    border-radius: 2px;
}

//others
.pointer{
    cursor: pointer;
}