.s-140{
    @include size(140px, 140px);
}
//margin
.mt-32{
    margin-top: 32px;
}

.mb-12{
    margin-bottom: 12px;
}

.mb-18{
    margin-bottom: 18px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-64{
    margin-bottom: 64px;
}

//padding
.p-32{
    padding: 32px;
}

.px-32{
    padding-left: 32px;
    padding-right: 32px;
}

//background-color
.bg-gray100{
    background-color: $gray-100;
}

//font-size
.fs-14{
    font-size: 14px;
}

//border
.border{
    border: 1px solid blue;
}

.radius-2{
    border-radius: 2px;
}

.pointer{
    cursor: pointer;
}

