.sidebar{
    width: 296px;

    ul{
        margin: 0 -30px;
    }
    
    li{
        padding: 12px 32px;
    
        &:hover{
            .nav-link{
                color: $success;
            }
        }
    
        .nav-link{
            display: block;
            color: $gray-900;
        }

        .nav-link.active{
            color: $success;

            &::before{
                content: "";
                position: absolute;
                left: 0;
                width: 4px;
                height: 32px;
                border-left: 4px solid $success;
            }
        }
    }

    .userImg{
        @include size(40px, 40px);
    }
}
