.form-check-input:checked {
    background-color: $dark;
    border-color: $dark;
}

.expand_more {
    display: none;
}

.expand_less {
    display: inline-block;
}

.collapsed {
    .expand_more {
        display: inline-block;
    }

    .expand_less {   
        display: none;
    }
}