<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./layout/head.ejs'); -%>
</head>
<body class="d-flex">
    <%- include('./layout/sidebar.ejs'); -%>
    <div class="container-fluid p-32 ml-296">
        <div class="row mb-32">
            <div class="col d-flex align-items-center pointer">
                <h1 class="fs-4 fw-bold me-5 mb-0">Assignment</h1>
                <div class="dropdown">
                    <a href="#" class="fw-bold d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="me-2">All courses</span>
                        <span class="material-icons-outlined text-success">expand_more</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col d-flex justify-content-end align-items-center">
                <span class="material-icons me-4 pointer">search</span>
                <span class="material-icons pointer">notifications_active</span>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <div class="dropdown">
                <a href="#" class="fw-bold  d-flex align-items-center mb-6" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="me-2 fw-bold">All (4)</span>
                    <span class="material-icons-outlined text-success">expand_more</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <span class="fs-12 text-gray-600">2 comments</span>
        </div>

        <div class="row">
            <div class="col-4">
                <ul class="list-group" id="assignment-list">
                </ul>
            </div>

            <div class="col-8">
                <div class="card mb-3">
                    <div class="card-header p-12 d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="fs-12 mb-1">Chapter Assignment 2 / HTML&CSS</h5>
                            <h4 class="fs-6 fw-bold mb-0">Please check this file for me, thanks!</h4>
                        </div>
                        <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-icons-outlined">more_vert</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush p-3">
                        <li class="list-group-item d-flex border-bottom-0 py-0">
                            <img src="../assets/images/emilywang.jpeg" alt="emily" class="img-fluid rounded-circle userImg flex-shrink-0 me-2">
                            <div>
                                <h6 class="fw-bold mb-1">Emily Wang</h6>
                                <p class="fs-12 text-gray600">10:38 AM (4 hours ago)</p>
                                <p class="fs-14">
                                    Hi Teacher, the attached file is my homework of chapter 2. And here comes a question: Why in the following code the height of the <span class="tag-robotoMono">div</span> is bigger than the height of the <span class="tag-robotoMono">img</span> ? There is a gap below the image, but it doesn’t seems to be a padding/margin. What is the gap or extra space below image?
                                </p>
                                <a href="#" download>
                                    <button type="button" download class="btn btn-light rounded-0 border-gray400 py-2 d-flex align-items-center fw-bold">
                                        <span class="material-icons-outlined me-2 fs-4">attach_file</span>HW-2-David.zip
                                    </button>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <textarea name="editor1" id="editor1" rows="10" cols="80">
                </textarea>
                <div class="mt-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-success me-3 px-32 py-2 radius-2">Mark as read</button>
                    <button type="button" class="btn btn-success px-32 py-2 radius-2">Reply</button>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="../js/main.js"></script>
    <script type="module" src="../js/assignment.js"></script>
</body>
</html>